@font-face {
    font-family: Noto_Black;
    src: url('./fonts/NotoSansKR-Black.otf');
}

@font-face {
    font-family: Noto_Bold;
    src: url('./fonts/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: Noto_Light;
    src: url('./fonts/NotoSansKR-Light.otf');
}

@font-face {
    font-family: Noto_Medium;
    src: url('./fonts/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: Noto_Regular;
    src: url('./fonts/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: Noto_Thin;
    src: url('./fonts/NotoSansKR-Thin.otf');
}

@font-face {
    font-family: TahomaR;
    src: url('./fonts/Tahoma\ Regular\ font.ttf');
}